body{
    margin: 0;
    padding: 0;
    background-color:lightsteelblue;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: black;

}
a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin: 5px 10px;
    text-transform: uppercase;
}
a:hover{
    background-color:gray;
}

img{
    display: block;
    margin-inline: auto;
    width: 50%;
    height: 500px;
}
#home{
    margin-top: 80px;
    margin-bottom: 80px;
}
#news{
    margin-top: 60px;
    margin-bottom: 60px;
}

.items{
    display: inline;
    width: 400px;
    height: 200px;
    justify-content: space-evenly;
}
.contain{
    display: flex;
    justify-content: space-evenly;
}
#contact{
    text-transform: uppercase;
}
.container{
    padding: 8%;
}
#home p{ 
    font-size: 40px;
}
#news p{
    font-size: 40px;
}
.left{
    float:left;
    width: 50%;
}
